/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import 'src/global-styles/styles/root.scss';
@import "components/card.scss";


.homepage-wrapper {

    max-width: var(--width);
    min-height: 100vh;
    background-color: var(--color-primary-bg);
    margin: 0 auto;

    & &__content-container {
        padding: 159px 16px 16px 16px;
        max-width: 1136px;
        margin: 0 auto;
    }

    & &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    & &__description {
        max-width: 467px;

        & p {
            @include body1;
            padding-top: 24px;
        }

        & h1 {
            @include header1;
        }
    }

    & &__list {
        max-width: 560px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 31px;
        column-gap: 24px;
    }

    @include breakpoints (lg) {
        & &__description {
            max-width: 100%;
        }
        & &__content-container {
            max-width: 560px;
        }
    }

    @include breakpoints (md) {
        @include display-flex-center;

        & &__content-container {
            max-width: 496px;
            padding: 0;
        }
        & &__description {
            & p {
             padding-top: 16px;   
            } 
        }
        & &__list {
            gap: 16px;
        }
    }

    @include breakpoints (sm) {
        display: block;

        & &__content-container {
            padding-top: 48px;
        }
        & &__content {
            gap: 26px;
        }
        & &__description {
            padding: 0 16px;

            & h1 {
                @include header2;
            }
        }
        & &__list {
            justify-content: center;
            padding: 0 15px 0 17px; 
        }
    }
}