@import 'src/global-styles/styles/root.scss';


.card {
  max-width: 268px;
  min-height: 240px;
  background-color: #272D42;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 24px 16px;
  flex-direction: column;
  gap: 16px;
  @include display-flex-center;
  
  @include breakpoints (md) {
    max-width: 240px;
    min-height: 218px;
    padding: 20px 17px 20px 14px;
    border-radius: 20px;
  }

  @include breakpoints (sm) {
    max-width: 100%;
    min-height: 0;
    padding: 20px 20px;
  }

  & &-header {
    @include header3;
  }

  & &-text {
    @include body1;
    text-align: center;
    opacity: 0.5;

    @include breakpoints (md) {
      @include body2;
    }
  }

  & &-image {
    width: 64px;
    height: 64px;
    transition: all 0.3s;

    @include display-flex-center;
    border-radius: 16px;

    @include breakpoints (md) {
      width: 56px;
      height: 56px;
      border-radius: 14px;
    }

    &.d-sphere {
      background-color: #373155;
    }

    &.vr-user-glasses {
      background-color: #2C3455;
    }

    &.technology-circle-objects {
      background-color: #274255;
    }

    &.ai-artificial-intelligence-chip {
      background-color: #3D413F;
    }

    & img {
      @include breakpoints (md) {
        width: 28px;
        height: 28px;
      }
    }
  }
}